/*
  Makes an element visually hidden, but accessible.
  @see http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*/

.field-name-field-chart-type {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
